OPENWEATHER_API_KEY=replace_with_your_key
OPENWEATHER_LAT=32.3643
OPENWEATHER_LON=-88.7037
OPENWEATHER_UNITS=metric
POLL_INTERVAL_SECONDS=600
DASH_REFRESH_MS=30000
WINDOW_MINUTES=120
MAX_RECORDS=500
REQUEST_TIMEOUT_SECONDS=15
